.one-section{
    margin-top: 214px;
    margin-left: 100px;
    p{
        width: 150px;
        height: 1px;
        background-color: #cc5b5b;
        color: #2C2830;
        margin-top: 344px;
    }
    h2{
        font-size: 72px;
        line-height: 64px;
        font-weight: 400;
        letter-spacing: -1px;
        color: #2C2830;
    }
}
